@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
  --background: #36ffe460;
  --accent: #80ae9f;
  --accentdark: #d8eee6;
  --text: #F4F4F4;
  --black: #2C2C2C;
  --white: #ffffff;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: 'Quicksand', sans-serif;
  background-image: url('../assets/background.jpeg');
  background-size:cover;
  animation: slidein 100s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;         
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

.main__container {
  background: #30f2db2a;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main__img {
  /* height: 10%;
  width: auto; */
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.203);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__left {
  width: 40%;
  display: flex;
  justify-content: left;
}

.main__right {
  width: 60%;
  margin-left: 2em;
}

.name {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.203);
}

.name2 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  margin-top: 0em
}

.tile {
  background-color: var(--white);
  width: 60vw;
  height: 55vh;
  border-radius: 8px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.203);
}

.abtimg {
  width: 32px;
  height: 32px;
}

.main__abt {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: .7;
}

.footer__text {
  font-size: .7em;
  padding: 1em;
  line-height: 8px;
  color: var(--text);
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

.header {
  color: var(--text);
}

.icon {
  stroke: var(--text);
  stroke-width: 1.5;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.footer__icons > a {
  width: 30px;
  height: 30px;
}

.container{
  position: relative;
  max-width: 500px;
  width: 100%;
  background: var(--accentdark);
  margin: 0;
  margin-top: 0.1em;
  padding: 10px 20px;
  border-radius: 7px;
}
.container .skill-box{
  width: 100%;
  margin: 25px 0;
}
.skill-box .title{
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
}
.skill-box .skill-bar{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 40%;
  border-radius: 6px;
  background: var(--accent);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.skill-per.css{
  width: 30%;
  animation-delay: 0.1s;
}
.skill-per.javascript{
  width: 20%;
  animation-delay: 0.2s;
}
.skill-per.nodejs{
  width: 30%;
  animation-delay: 0.3s;
}
@keyframes progress {
  0%{
      width: 0;
      opacity: 1;
  }
  100%{
      opacity: 1;
  }
}
.skill-per .tooltip{
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: bold;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: var(--accent);
  z-index: 1;
}
.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: var(--accent);
  transform: translateX(-50%) rotate(45deg);
}

/* DIT IS DE TEXT SCROLL */

.praat {
  height: 100vh;
  width: 30%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.big {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  margin-left: -5em;
}

.scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.scroll div {
  display: flex;
  gap: 2em;
}

.scroll p {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .075);
}

.scroll p {
  font-size: 10em;
  color: rgba(255, 255, 255, 0.61);
  font-weight: bold;
  margin-bottom: 0;
  line-height: 10px;
} 

.right-to-left {
  animation: RightToLeft 700s infinite linear;
}

@keyframes  RightToLeft {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(-50%);
  }
}

.left-to-right {
  animation: LeftToRight 700s infinite linear;
}

@keyframes  LeftToRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}