@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
  --background: #36ffe460;
  --accent: #80ae9f;
  --text: #F4F4F4;
  --black: #2C2C2C;
  --white: #F4F4F4;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: 'Quicksand', sans-serif;
  background-image: url('../assets/background.jpeg');
  background-size:cover;
  animation: slidein 100s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;         
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

.main__container {
  background: #30f2db2a;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main__img {
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.203);
  display: flex;
  align-items: center;
}

.main__left {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.main__right {
  width: 60%;
  margin-left: 2em;
}

.name {
  font-size: 2em;
}

.tile {
  background-color: var(--white);
  height: 50%;
  width: 50%;
  border-radius: 8px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.203);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: .7;
}

.footer__text {
  font-size: .7em;
  padding: 1em;
  line-height: 8px;
  color: var(--text);
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

.header {
  color: var(--text);
}

.icon {
  stroke: var(--text);
  stroke-width: 1.5;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.footer__icons > a {
  width: 30px;
  height: 30px;
}

/* DIT IS DE TEXT SCROLL */

/* .praat {
  height: 100vh;
  width: 30%;
  overflow: hidden;
}

.big {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  margin-left: -5em;
} */

/* .scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.scroll div {
  display: flex;
  gap: 2em;
}

.scroll p {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .075);
} */

/* .scroll p {
  font-size: 10em;
  color: var(--text);
  font-weight: bold;
  margin-bottom: 0;
  line-height: 10px;
} */

/* .right-to-left {
  animation: RightToLeft 700s infinite linear;
}

@keyframes  RightToLeft {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(-50%);
  }
}

.left-to-right {
  animation: LeftToRight 700s infinite linear;
}

@keyframes  LeftToRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
} */