:root {
  --darkpurple: #4A277E;
  --paleyellow: #FFEBA4;
  --black: #2C2C2C;
  --white: #F4F4F4;
}

body {
  margin: 1em;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 2em;
}

.bigname {
  margin: 100px;
  transform: rotate(-90deg);
  font-size: 20em;
}